
body{
	background-color: floralwhite;
	/*background-image: linear-gradient(180deg,#2af598 0%,#009efd 100%);*/
	/*background-image: linear-gradient(to top, #FFE4B5 0%, #EBCC6D 100%);*/

}

img{
	width: 130px;
	height: 70px;
}
#wrapper
{
	/*background-image: linear-gradient(to bottom, #FFE4B5 0%, #EBCC6D 100%);*/
	background-color: #FFE4B5;
	border: solid;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
}

h3{
	color:#994d00;
	size: 350px;
}
header
{
	font-family: Calisto MT;
	text-align: center;
	color: white;
	font-size: 35px;
	
}
#Titre_Bouton
{
	
	background-color: black;
	padding-bottom: 20px;
	border-top: solid;
	border-right: solid;
	border-left: solid;

		
}
center{

}
#navigation
{
	padding-top: 20px;
	/*border-color: brown;*/
	flex-direction: center;
	display: flex;
	justify-content: space-around;
	border-top: solid;
	border-width: 1 em;
	border-color: #CEA65F;

}
.Bouton_de_navigation
{  	
	font-family: Rockwell;
	color: white;
	border-width: 1 em;
	border-color: white;
	box-shadow: 5px 3px 3px lightgrey;
	background-color: black;
	font-size: 30px; 

}

#Section
{
	background-color: #FFE4B5;
 	border-top: solid;
	border-right: solid;
	border-left: solid;
	padding-left: 10px;
}
.plus_de_choix
{
	font-family: Rockwell;
	color: white;	
	background-color: black;

	font-size: 30px; 
}

footer
{
	background-color: black;
	color: white;
	border: solid;
	padding-top: 10px;
	margin-bottom: 40px;
	border-width: 1 em;
	border-color: black;
	 
}

a{
		color: darkorange; 
}

#CardFormulaire{
	size: 300px;
	font-size: 20px;
}

